.container-fluid.p-0.promo-box_cursor
   .row.no-gutters
      .col-12.col-md-6.col-lg-4.promo-box__img
         a.d-block.position-relative
            img.promo-box__img_inpt.promo-box__img_hov(src="img/promo-box/img/promo-img-06_grande.webp", alt="", width="101%")
      .col-12.col-md-6.col-lg-4.center.promo-box__img
         a.d-block.position-relative
            img.promo-box__img_inpt.promo-box__img_hov(src="img/promo-box/img/promo-img-07_grande.jpg", alt="", width="101%")
            .promo-box__text.text-center.center
               img.promo-box__text_logo(src="//cdn.shopify.com/s/files/1/2340/2391/files/icon1_200x.png?v=1505285732" alt="")
               p.text-center.promo-box__text_heading High Perfimance <br> and Pixel Perfect Design
               a.btn.btn-danger.btn-mod.btn-mod_dark(role="button" href="https://shopy-default.myshopify.com/") SHOP NOW!
      .col-12.col-md-6.col-lg-4.promo-box__img
         a.d-block.position-relative
            img.promo-box__img_inpt.promo-box__img_hov(src="img/promo-box/img/promo-img-08_grande.jpg", alt="", width="101%")
      .col-12.col-md-6.col-lg-4.center.promo-box__img
         a.d-block.position-relative
            img.promo-box__img_inpt.promo-box__img_hov(src="img/promo-box/img/promo-img-09_grande.jpg", alt="", width="101%")
            .promo-box__text.text-center.center
               p.text-center.promo-box__text_heading Built with Love, <br> Trusted and Experienced <br> Elite Authot
               a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="https://shopy-default.myshopify.com/") SHOP NOW!
      .col-12.col-md-6.col-lg-4.promo-box__img
         a.d-block.position-relative
            img.promo-box__img_inpt.promo-box__img_hov(src="img/promo-box/img/promo-img-10_grande.jpg", alt="", width="101%")
      .col-12.col-md-6.col-lg-4.center.promo-box__img
         a.d-block.position-relative
            img.promo-box__img_inpt.promo-box__img_hov(src="img/promo-box/img/promo-img-11_grande.jpg", alt="", width="101%")
            .promo-box__text.text-center.center
               p.text-center.promo-box__text_heading It Does not Matter - <br> what Kind of Products do <br> You Want to Sell
               a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="https://shopy-default.myshopify.com/") SHOP NOW!
