.container-base
   .row.mb-5
      .col-12.center
         p.collections_heading COLLECTIONS
      .col-6.col-lg-4.text-center.collections
         a.d-block(href="#")
            .collections__img
               img.collections__img_zoom(src="img/collections/img/subcategory-item-01_grande.jpg", alt="women's" width="100%") 
            p.collections_item Women's
      .col-6.col-lg-4.text-center.collections
         a.d-block(href="#")
            .collections__img
               img.collections__img_zoom(src="img/collections/img/subcategory-item-02_grande.jpg", alt="women's" width="100%") 
            p.collections_item Men's
      .col-6.col-lg-4.text-center.collections
         a.d-block(href="#")
            .collections__img
               img.collections__img_zoom(src="img/collections/img/subcategory-item-03_grande.jpg", alt="women's" width="100%") 
            p.collections_item Bags
      .col-6.col-lg-4.text-center.collections
         a.d-block(href="#")
            .collections__img
               img.collections__img_zoom(src="img/collections/img/subcategory-item-04_grande.jpg", alt="women's" width="100%") 
            p.collections_item Shoes
      .col-6.col-lg-4.text-center.collections
         a.d-block(href="#")
            .collections__img
               img.collections__img_zoom(src="img/collections/img/subcategory-item-05_grande.jpg", alt="women's" width="100%") 
            p.collections_item Hats
      .col-6.col-lg-4.text-center.collections
         a.d-block(href="#")
            .collections__img
               img.collections__img_zoom(src="img/collections/img/subcategory-item-06_grande.jpg", alt="women's" width="100%") 
            p.collections_item Sunglasses

