.container-fluid.p-0.mt-5
   .row.no-gutters
      .col-12.col-lg-6.d-flex
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/1.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/2.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/3.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/4.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/5.jpg", alt="inst" width="100%")
            .inst__eye
               span.inst__eye_icon(class="iconify" data-icon="bi:eye-fill" data-inline="false")
      .col-12.col-lg-6.d-flex
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/6.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/7.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/8.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/9.jpg", alt="inst" width="100%")
            .inst__eye
               span(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em; color:white;")
         a.inst__link(href="#")
            img.inst__link_img(src="img/instagram/img/10.jpg", alt="inst" width="100%")
            .inst__eye
               span.inst__eye_icon(class="iconify" data-icon="bi:eye-fill" data-inline="false")