.container-base.mb-5
	.brand-slider
		.brand-slider__item
			a.brand-slider__item_logo(href="#")
				img.brand-slider__item_img.d-inline(src="img/brand/img/brand-03_large.png", alt="brand-logo")
		.brand-slider__item
			a.brand-slider__item_logo(href="#")
				img.brand-slider__item_img.d-inline(src="img/brand/img/brand-01_large.png", alt="brand-logo")
		.brand-slider__item
			a.brand-slider__item_logo(href="#")
				img.brand-slider__item_img.d-inline(src="img/brand/img/brand-04_large.png", alt="brand-logo")
		.brand-slider__item
				a.brand-slider__item_logo(href="#")
					img.brand-slider__item_img.d-inline(src="img/brand/img/brand-05_large.png", alt="brand-logo")
		.brand-slider__item
			a.brand-slider__item_logo(href="#")
				img.brand-slider__item_img.d-inline(src="img/brand/img/brand-06_large.png", alt="brand-logo")
		.brand-slider__item
			a.brand-slider__item_logo(href="#")
				img.brand-slider__item_img.d-inline(src="img/brand/img/brand-09_large.png", alt="brand-logo")
		.brand-slider__item
			a.brand-slider__item_logo(href="#")
				img.brand-slider__item_img.d-inline(src="img/brand/img/brand-07_large.png", alt="brand-logo")
		.brand-slider__item
			a.brand-slider__item_logo(href="#")
				img.brand-slider__item_img.d-inline(src="img/brand/img/brand-08_large.png", alt="brand-logo")