.container-base.products_bd
   .row
      .col-12.center
         p.products_heading FEATURED PRODUCTS
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/1_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $310.00
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/2_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $470.00
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/3_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $589.99
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/4_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $420.00
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/5_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $250.00
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/6_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $60.00
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/7_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $50.00
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART
      .col-6.col-md-4.col-lg-3.text-center.products_hover
         .pro__img.center
            img(src="img/products/img/8_1_1024x1024.jpg", alt="product" width="92%")
            .products__btn.btn-view
               a.btn.btn-danger.btn-mod.btn-mod_white-pink(role="button" href="#")
                  span.pr-1(class="iconify" data-icon="bi:eye-fill" data-inline="false" style="font-size: 1.5em;")
                  span QUICK VIEW
         a.small-menu__text(href="https://shopy-default.myshopify.com/collections/all/products/24-light-sputnik-chandelier") 24-Light Sputnik Chandelier
         p.clothes-menu__price $50.00
         .products__btn.btn-add
            a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="#")
               span(class="iconify" data-icon="mdi:cart" data-inline="false" style="font-size: 1.5em;")
               span ADD TO CART