body * {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.container-base {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
  padding-left: 20px;
  padding-right: 20px;
}

.container-all {
  width: 100%;
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-mod {
  transition: 0.3s !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 0.7em !important;
  padding: 0.8rem 1.8rem !important;
  &_pink {
    background-color: $pink !important;
    &:hover {
      background-color: $grey !important;
    }
  }
  &_dark {
    background-color: $grey !important;
    color: white !important;
    &:hover {
      background-color: white !important;
      color: $grey !important;
    }
  }
  &_dark-pink {
    background-color: $grey !important;
    color: white !important;
    &:hover {
      background-color: $pink !important;
    }
  }
  &_white-pink {
    background-color: white !important;
    color: $grey !important;
    &:hover {
      background-color: $pink !important;
      color: white !important;
    }
  }
}
