.container-fluid.d-none.d-md-block.p-0.email.pt-4.pb-4
   .container-base
      .row
         .col-12.col-xl-6
            p.email_heading GET THE LATEST NEWS DELIVERED DAILY!
            p.email_small Give us your email and you will be daily updated with the latest events, in detail
         .col-12.col-xl-6.d-xl-flex.align-items-xl-center
            .email__input
               .email__input_text
                  span.email__input_text-span(class="iconify" data-icon="dashicons:email" data-inline="false")
                  input.email__input_text-pan(type="text" placeholder="Enter please your e-mail")
               button.btn.ml-3.email__input_btn SUBSCRIBE