header
  .container-fluid
    .row
      .col-4.d-flex.align-items-center.justify-content-center
        nav.navbar.navbar-expand-lg
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            p ...
          #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item.active
                a.nav-link(href='#') Home
              li.nav-item
                a.nav-link(href='#') Delivery
              li.nav-item
                a.nav-link(href='#') Blog
              li.nav-item
                a.nav-link(href='#') Contacts
      .col-8
        .container-fluid
          .row
            .col-6
              .container-fluid
                .row
                  .col-12.col-xl-5
                    p
                      span
                      | +300-9876-2345
                  .col-12.col-xl-7
                    p.time 7 Days a week from 9:00 am to 7:00 pm
            .col-3.d-flex.align-items-center.justify-content-center.header_bd-l
              .dropdown
                a.btn.dropdown-toggle(style='border: none;' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  span Language:
                  |  English
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(type='button')
                    | Frech
                  a.dropdown-item(type='button')
                    | German
            .col-3.d-flex.align-items-center.justify-content-center.header_bd-l.header_bd-r
              .dropdown
                a.btn.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  span Currency:
                  |  USD
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(type='button')
                    | ($) US Dollars
                  a.dropdown-item(type='button')
                    | (&euro;) Euro
                  a.dropdown-item(type='button')
                    | (&pound;) British Pounds
      .col-8.header_bd-t
        a(class='d-block' href='https://shopy-default.myshopify.com/'): img(src="img/logo.png", alt="Logo")
      .col-4.header_bd-t.d-flex.align-items-center
        .container-fluid
          .row
            .col-6.d-flex.align-items-center.justify-content-center
              a(href="#") <span></span> My Account
            .col-6.d-flex.align-items-center.justify-content-center  
              a(href="#") <span></span> YOUR BAG
      .col-12.header_bd-b.header_bd-t
        .container-fluid
          .row
            .col-10.offset-1.d-flex.justify-content-start
              nav.navbar.navbar-expand-lg
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                  p ...
                #navbarNav.collapse.navbar-collapse
                  ul.navbar-nav
                    li.nav-item.active
                      a.nav-link(href='#') LAYOUT
                    li.nav-item
                      a.nav-link(href='#') LISTING
                    li.nav-item
                      a.nav-link(href='#') PRODUCT
                    li.nav-item
                      a.nav-link(href='#') BLOG
                    li.nav-item.active
                      a.nav-link(href='#') GALLERY
                    li.nav-item
                      a.nav-link(href='#') PAGES
                    li.nav-item
                      a.nav-link(href='#') WOMEN'S
                    li.nav-item
                      a.nav-link(href='#') MEN'S
    .container-fluid.layout             
      .row
        .col-10.offset-1.bg-info
          h2 LAYOUT
          .container-fluid
            .row
              .col-2.center.flex-column
                img(src="img/layout/layout-1.jpg", alt="", width='100%')
                p Home Page 1
              .col-2.center.flex-column
                img(src="img/layout/layout-2.jpg", alt="", width='100%')
                p Home Page 2
              .col-2.center.flex-column
                img(src="img/layout/layout-3.jpg", alt="", width='100%')
                p Home Page 3
              .col-2.center.flex-column
                img(src="img/layout/layout-4.jpg", alt="", width='100%')
                p Home Page 4
              .col-2.center.flex-column
                img(src="img/layout/layout-5.jpg", alt="", width='100%')
                p Home Page 5
              .col-2.center.flex-column
                img(src="img/layout/layout-6.jpg", alt="", width='100%')
                p Home Page 6
              .col-2.center.flex-column
                img(src="img/layout/layout-7.jpg", alt="", width='100%')
                p Home Page 7
              .col-2.center.flex-column
                img(src="img/layout/layout-8.jpg", alt="", width='100%')
                p Home Page 8
              .col-2.center.flex-column
                img(src="img/layout/layout-9.jpg", alt="", width='100%')
                p Home Page 9
              .col-2.center.flex-column
                img(src="img/layout/layout-10.jpg", alt="", width='100%')
                p Home Page 10
              .col-2.center.flex-column
                img(src="img/layout/layout-11.jpg", alt="", width='100%')
                p Home Page 11
              .col-2.center.flex-column
                img(src="img/layout/layout-12.jpg", alt="", width='100%')
                p Home Page 12  
