@mixin big-menu-hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.time {
  font-size: 12px;
  color: $small-text;
  padding-top: 2px;
}

.active {
  > a {
    color: $pink;
  }
}

.header {
  &__line {
    position: absolute;
    border-top: 1px solid $grayd;
    width: 200vw;
    left: -20vw;
  }
  &__dropdown {
    font-size: 0.9em !important;
    color: $small-text !important;
    &:hover .header__dropdown_hov {
      color: $pink;
    }
    &_menu {
      font-weight: 300 !important;
      font-size: 0.95em;
      transition: 0.3s;
      &:hover {
        color: $pink !important;
      }
    }
  }
}

.small-menu {
  &__text {
    font-size: 0.87em;
    color: $grey;
    transition: 0.3s;
    &:hover {
      color: $pink;
    }
  }
}

.big-menu {
  &__text {
    font-weight: 500;
    color: $grey;
    transition: 0.3s;
    &:hover {
      color: $pink;
    }
  }
  &_btn {
    font-size: 0.88em;
  }
}

.layout {
  transition: 0.3s;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  width: 94%;
  left: 3%;
  z-index: 10;
  padding: 0 3em 0 3em;
  box-shadow: 0 0 8px $small-text;
  &_img-shadow {
    box-shadow: 0 0 1px $small-text;
    &:hover {
      box-shadow: 0 0 10px 7px $grayd;
    }
  }
}

#womens:hover #womens__item,
#lay:hover #lay__item {
  @include big-menu-hover();
}

.search {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  &__input-panel {
    width: 95%;
    background-color: $gray-light;
    display: flex;
    align-items: center;
    &_form {
      width: 85%;
      font-size: 0.85em;
      color: $small-text;
      border: none;
      background: $gray-light;
      border-right: 2px solid $grayd;
    }
    &_btn {
      font-size: 0.9em !important;
      transition: 0.3s !important;
      &:hover {
        color: $pink !important;
      }
    }
  }
  &__button-close {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &_hov:hover {
      transition: 0.3s;
      color: $pink;
      cursor: pointer;
    }
  }
  &__button-open {
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $pink;
    }
  }
}

.clothes-menu {
  &__heading {
    padding-bottom: 0.85em;
    margin-bottom: 1em;
    border-bottom: 2px solid $grey;
    display: block;
    font-stretch: ultra-expanded;
    &:hover {
      border-bottom: 2px solid $pink;
    }
  }
  &_list {
    padding: 0;
    list-style: none;
  }
  &__price {
    font-size: 1.6em;
    font-weight: 500;
    color: $pink;
  }
  &_brdr {
    border: none;
    &:hover {
      border: none;
    }
  }
}

.cart {
  display: none;
  position: fixed;
  height: 45%;
  background-color: white;
  border: 2px solid black;
  z-index: 10;
  top: 0;
  width: 100%;
}
