#video-carousel.carousel.slide.video-slider.bg-info(data-ride='carousel' data-interval="0")
	ol.carousel-indicators
		li.active(data-target='#video-carousel' data-slide-to='0')
		li(data-target='#video-carousel' data-slide-to='1')
		li(data-target='#video-carousel' data-slide-to='2')
	.carousel-inner
		.carousel-item.active
			img.d-block.w-100(src='/img/carousel/img/slide-1_x1024.jpg' alt='...' width="100%")
		.carousel-item
			img.d-block.w-100(src='/img/carousel/img/slide-2_x1024.jpg' alt='...')
		.carousel-item
			img.d-block.w-100(src='...' alt='...')
	a.carousel-control-prev(href='#video-carousel' role='button' data-slide='prev')
		span.carousel-control-prev-icon(aria-hidden='true')
		span.sr-only Previous
	a.carousel-control-next(href='#video-carousel' role='button' data-slide='next')
		span.carousel-control-next-icon(aria-hidden='true')
		span.sr-only Next
