#video-carousel.carousel.slide(data-ride='carousel' data-interval="0")
	ol.carousel-indicators
		li.main-slider_indicators.active(data-target='#video-carousel' data-slide-to='0')
		li.main-slider_indicators(data-target='#video-carousel' data-slide-to='1')
		li.main-slider_indicators(data-target='#video-carousel' data-slide-to='2')
	.carousel-inner
		.carousel-item.active
			.main-slider
				.overlay.center.flex-column
					p.main-slider_small-text We are Pleased to Submit
					p.main-slider_big-text New Stunning <br> Shopy
					a.btn.btn-danger.btn-mod.btn-mod_pink(role="button" href="https://shopy-default.myshopify.com/") SHOP NOW
				img.main-slider__back.d-block.w-100(src='img/carousel/img/slide-1_x1024.jpg' alt='...' width="100%")
		.carousel-item
			.main-slider
				.overlay
					.row.h-100
						.col-6.offset-4.center.flex-column.align-items-end
							p.main-slider_small-text We are Pleased to Submit
							p.text-right.main-slider_big-text New Stunning <br> Shopy
							a.btn.btn-danger.btn-mod.btn-mod_dark-pink(role="button" href="https://shopy-default.myshopify.com/") SHOP NOW
				img.main-slider__back.d-block.w-100(src='img/carousel/img/slide-2_x1024.jpg' alt='...' width="100%")
		.carousel-item
			.main-slider
				.overlay.center.flex-column
					p.main-slider_small-text There is no other theme with that amount of
					p.main-slider_big-text Feature as You see <br> in
						span(style="color:#d1466e;") Shopy
					a.btn.btn-danger.btn-mod.btn-mod_dark(role="button" href="https://shopy-default.myshopify.com/") SHOP NOW
				video.main-slider__back(src="https://cdn.shopify.com/s/files/1/2340/2391/files/video.mp4?9258096065016314311" loop="" muted="" autoplay=""  type="video/mp4")