@media (max-width: 650px) {
  .table_bg {
    visibility: hidden;
  }
}

@media (max-width: 720px) {
  .main-slider_big-text {
    font-size: 1.6em;
  }
  .main-slider_small-text {
    font-size: 0.7em;
  }
}

@media (max-width: 1023px) {
  #small-menu {
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 0 3px gray;
    padding: 0.5em 7em 0.5em 1em;
    z-index: 9;
  }
  #big_menu_btn {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 800;
    background-color: white;
    width: 40vw;
    height: 100vh;
    padding: 2em 0 0 0;
    box-shadow: 0 0 600px 1px black;
    transition: 2s;
  }
  .big-menu_pd {
    padding-left: 2em !important;
    border-bottom: 1px solid $grayd;
  }
  .table {
    font-size: 11px;
  }
}

@media (min-width: 1024px) {
  .container-base {
    width: 975px;
  }
  .header {
    &_bd-l {
      border-left: 1px solid $grayd;
    }
    &_bd-r {
      border-right: 1px solid $grayd;
    }
  }
  #lay:hover #lay__item {
    @include big-menu-hover();
  }
}

@media (min-width: 1280px) {
  .container-base {
    width: 1230px;
  }
}
