.table
   img.table_bg(src="img/table/img/i_01_2048x.jpg", alt="bg" width="100%")
   a(href="#").table__text
      p.table__text_small Grow your business with
      p.table__text_big Shopy
      btn.btn.btn-danger.btn-mod.btn-mod_pink.table__text_btn(role="button" href="#") SHOP NOW!