.container-base
   .row
      .col-12.center.mb-3
         p.news_heading LATEST NEWS
      .col-12
         .news-slider
            .news-slider__item
               .center
                  .news-slider__item_w
                     a(href="#").news-slider__img
                        img.news-slider__img_hov(src="img/news/img/post-img-01_600x.jpg", alt="news-img" width="100%")
                     a(href="#").news-slider__item_heading Responsive Retina <br> Ready
                     p.news-slider__item_small.news-slider__item_small-m
                        span by 
                        span.news-slider__item_small-pink-bold Mathew Benz 
                        span on 
                        span.news-slider__item_small-pink September 
                        span.news-slider__item_small-pink-bold 11,2017 
                     p Lorem ipsum dolor sit amet conse <br>ctetur adipisicing elit, sed do eiusmod <br>tempor incididunt ut...
            .news-slider__item
               .center
                  .news-slider__item_w
                     a(href="#").news-slider__img
                        img.news-slider__img_hov(src="img/news/img/post-img-02_600x.jpg", alt="news-img" width="100%")
                     a(href="#").news-slider__item_heading Top Notch SEO <br>Perfomance.
                     p.news-slider__item_small.news-slider__item_small-m
                        span by 
                        span.news-slider__item_small-pink-bold Mathew Benz 
                        span on 
                        span.news-slider__item_small-pink September 
                        span.news-slider__item_small-pink-bold 11,2017 
                     p Lorem ipsum dolor sit amet conse <br>ctetur adipisicing elit, sed do eiusmod <br>tempor incididunt ut...
            .news-slider__item
               .center
                  .news-slider__item_w
                     a(href="#").news-slider__img
                        img.news-slider__img_hov(src="img/news/img/post-img-03_600x.jpg", alt="news-img" width="100%")
                     a(href="#").news-slider__item_heading 12 Different Layouts.
                     p.news-slider__item_small.news-slider__item_small-m
                        span by 
                        span.news-slider__item_small-pink-bold Mathew Benz 
                        span on 
                        span.news-slider__item_small-pink September 
                        span.news-slider__item_small-pink-bold 11,2017 
                     p Lorem ipsum dolor sit amet conse <br>ctetur adipisicing elit, sed do eiusmod <br>tempor incididunt ut...